html
  head
    title= title
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito&display=swap")
    link(rel="stylesheet", href="css/index.css")
    script(src='js/index.js')
  body
    a(class="stat-list-title" style="font-size: 20px" href='/stats') Stats
    div(class="stat-section")
      each stat_category in stat_categories
        div(class="stat-list")
          br
          h3= stat_category.name
          table(class="stat-list__table")
            each stat in stats
              if (String(stat_category._id) == String(stat.stat_category))
                tr
                  td
                    label(class="stat-list__stat-label" for=stat.name) #{ stat.name + ": "}
                  td
                    input(value="0" class="stat-list__input" id=stat._id type="text" size="8")
                  td
                    p(class="stat-list__stat-label")= "+"
                  td
                    p(class="stat-list__difference-label" id="diff" + stat._id) 0
                  td
                    p(class="stat-list__stat-label")= "="
                  td
                    p(class="stat-list__stat-label" id="output" + stat._id) 0
    
    div(class="buff-list")
      a(style="font-size: 20px" href='/buffs') Buffs
      each buff_category in buff_categories
        h3= buff_category.name
          table
            each buff in buffs
              if (String(buff_category._id) == String(buff.buff_category))
                tr
                  td
                    input(class="buff-list__checkbox" onclick="getStatDifferentials()" id="buff_checkbox" + buff._id name="buff_id" value=buff._id type="checkbox")
                  td
                    label(class="buff-list__checkbox-label" for=buff.name) #{ buff.name }
                  td 
                    p(class="buff-list__checkbox-label") #{ "Rank: " + buff.rank }