html
  head
    title= title
    script(src='js/index.js')
  body
    div Container Div
      div
        a(style="font-size: 20px" href='/stats') Stats
        table
          each stat in stats
            tr
              td
                label(for=stat.name) #{ stat.name + ": "}
              td
                input(value="0" class="stat-list__input" id=stat._id type="text" size="8")
              td
                p(class="stat-list__output" id="output" + stat._id) 0
      div
        form(action="rest/buffsets" method="GET")
          a(style="font-size: 20px" href='/buffs') Buffs
          table
            each buff in buffs
              tr
                td
                  input(class="buff-list__checkbox" onclick="getStatDifferentials()" id="buff_checkbox" + buff._id name="buff_id" value=buff._id type="checkbox")
                td
                  label(for=buff.name) #{ buff.name }
                td #{ "Rank: " + buff.rank }