html
  head
    title= title
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito&display=swap")
    link(rel="stylesheet", href="css/index.css")
    script(src='js/index.js')
  body
    div(class="stat-list")
      a(class="stat-list-title" style="font-size: 20px" href='/stats') Stats
      table(class="stat-list__table")
        each stat in stats
          tr
            td
              label(class="stat-list__stat-label" for=stat.name) #{ stat.name + ": "}
            td
              input(value="0" class="stat-list__input" id=stat._id type="text" size="8")
            td
              p(class="stat-list__stat-label")= "+"
            td
              p(class="stat-list__difference-label" id="diff" + stat._id) 0
            td
              p(class="stat-list__stat-label")= "="
            td
              p(class="stat-list__stat-label" id="output" + stat._id) 0
    div(class="buff-list")
      a(style="font-size: 20px" href='/buffs') Buffs
      form(class="buff-list__form" action="rest/buffsets" method="GET")
        table
          each buff in buffs
            tr
              td
                input(class="buff-list__checkbox" onclick="getStatDifferentials()" id="buff_checkbox" + buff._id name="buff_id" value=buff._id type="checkbox")
              td
                label(class="buff-list__checkbox-label" for=buff.name) #{ buff.name }
              td 
                p(class="buff-list__checkbox-label") #{ "Rank: " + buff.rank }